<div ng-include="'components/navbar/navbar.html'"></div>
<header class="hero-unit" id="banner">
    <div class="container">
        <h3>Who votes?</h3>
        <h1>YOUvote!</h1>
        <p class="lead">Quickly gather data from your audience by submitting a  custom poll!</p>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header well">Share your opinion!</h1>
            <div class="col-md-6" ng-repeat="thing in awesomeThings">
                <table class="table">
                    <tr>
                        <th>
                            <h4>{{thing.name}}</h4></th>
                        <th>
                            <h4>Score</h4>
                        </th>
                    </tr>
                    <tr ng-repeat="choice in thing.choices">
                        <td>
                            <h4>{{choice}}</h4></td>
                        <td>
                            <h4><button class="btn btn-info" ng-show="voteCheck(thing)" ng-click="onePlusThing(thing, $index)">Vote</button>
                            <label class="label label-primary" ng-hide="voteCheck(thing)" >{{thing.scores[$index]}}</label></h4>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p>Angular Fullstack v2.1.1 |
            <a href="https://twitter.com/linn_ben">@linn_ben</a>
    </div>
</footer>
